*.iml
.DS_Store
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
*.class

.gradle
.gradle/
bin/
gen/
/build
/captures
build/
proguard/
.idea/
/local.properties
#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml





